.cursor-pointer {
    cursor: pointer;
  }
 .row {
    display: flex;
    justify-content: space-between;
  }
  
.col-md-6 {
    flex: 1;
    padding: 0 15px;
  }
  
.selected-row {
  font-weight: bold; 
}

.selected-row td{
  background-color: #db91d14d !important;
  border: solid 1px #db91d1 !important;
}



th.sorted-column {
  background-color: #db91d149; 
  font-weight: bold;
}