
.AccordionItem{
    text-align: left;
}

.loaderBox{
    display: flex;
    justify-content: center;
}

.alertBox{
    display: flex;
    justify-content: center;
}

.searchBox{
    display: flex;
    justify-content: center;
}

.inputGroup{
    max-width: 400px;
}