
.AccordionItem{
    text-align: left;
}

.loaderBox{
    display: flex;
    justify-content: center;
}

.alertBox{
    display: flex;
    justify-content: center;
}

.searchBox{
    display: flex;
    justify-content: center;
}

.inputGroup{
    max-width: 400px;
}

.buttonBox Button{
    margin-top: 10px;
    margin-right: 0.1rem;
}