.dropzone{
    min-width: 300px;
    min-height: 235px;
    width: 100%;
    border-style: dashed;
    border-width: 3px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.uploadIcon{
    font-size: 64px;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.uploadIconOnDrop {
    transform: scale(1.5);
}
.fileIconSize{
    font-size: 94.5px;
}
$content-collapse-transition: 0.6s ease-in-out;
$content-collapse-opacity: 0.4s ease-in;

.content_collapse {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  transition: 
    max-height $content-collapse-transition,
    opacity $content-collapse-opacity,
    padding-top $content-collapse-opacity;
  
  &.open {
    max-height: 1200px; /* ustaw możliwie największą przewidywaną wysokość */
    opacity: 1;
    padding-top: 12px;
    transition:
      max-height $content-collapse-transition,
      opacity 0.4s ease-out,
      padding-top 0.4s ease-out;
  }
}

.chevron {
  display: inline-block;
  transition: transform 0.4s ease;

  &.open {
    transform: rotate(90deg);
  }
}