.custom-switch .form-check-input:checked {
    background-color: #373737;
    border-color: #373737;
}

.custom-switch .form-check-input {
    background-color: #373737;
    border-color: #373737;
}

.custom-switch .form-check-input:focus {
    box-shadow: none;
}