.taskDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: left;
    flex-wrap: wrap; /* Pozwala na zawijanie kolumn na mniejszych ekranach */
    max-width: 2000px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Centrowanie */
}
.column {
    flex: 1; /* Kolumny zajmują równą przestrzeń */
    min-width: 400px; /* Minimalna szerokość kolumny */
    padding: 20px;
    border-radius: 8px;
}
.description{
    flex: 2;
}
.addittionalInfo{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.taskDetailsHeader {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}
.taskDetailsContent {
    display: flex;
    flex-wrap: wrap; /* Zawijanie dla responsywności */
    gap: 20px; /* Odstęp między dolnymi kolumnami */
    min-width: 550px; /* Minimalna szerokość kolumny */
}
.data-row {
    display: flex; /* Flexbox dla wyrównania etykiety i wartości */
    margin-bottom: 10px; /* Odstęp między wierszami */
}
.label {
    flex: 0 0 150px; /* Stała szerokość dla etykiety */
    font-weight: bold;
}
.value {
    flex: 1; /* Wartość zajmuje resztę przestrzeni */
}
.custom-dropdown-toggle {
    width: 120px;
    color: black;
}
.custom-dropdown-item {
    color: black;
}
@media (max-width: 768px) {
    .column {
      min-width: 100%; /* Kolumny zajmują pełną szerokość na małych ekranach */
    }
  }
.taskDetailsHeaderButtons{
    display: flex;
    
    align-items: left;
    justify-content: left;
    flex-wrap: wrap; /* Pozwala na zawijanie przy mniejszych ekranach */    
    gap: 10px; /* Odstęp między przyciskami */
    margin-bottom: 20px;
}