.chat-window {
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 350px;
  height: 400px;
  min-width: 350px;
  min-height: 400px;
  max-width: 90vw;
  max-height: 90vh;
  resize: both;
  overflow: auto;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.chat-window.show {
  transform: translateY(0);
  opacity: 1;
}

.chat-window.hide {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

.chat-window {
  transform: translateY(100%);
  opacity: 0;
}

.chat-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100% - 90px);
}

.message {
  max-width: 90%;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}


.user-message {
  background: #DB91D1;
  color: #ffffff;
  max-width: 90%;
}

.ai-message {
  background: #292929;
  color: #FFFFFF;
}

.ai-footer {
  background-color: #000000;
  border-color: #000000;
}

.ai-header {
  background: #DB91D1;
  border-color: #DB91D1;
  color: #ffffff;
  cursor: move;
}

.chat-window .bi {
  color: #ffffff !important;
}



.timestamp {
  opacity: 0.7;
  display: block;
  text-align: inherit;
}

.error-text {
  font-size: 0.9rem;
}

.empty-chat-prompt {
  text-align: center;
  text-align: center;
}

.ai-loading {
  scale: 0.8;
}