.schooling-list-item {
    cursor: pointer !important;
    .card:hover {
        box-shadow: 0 2px 8px #DB91D1;
        transform: translateY(-2px);
        transition: 0.3s ease;
    }
}

.schooling-list{
    .right-sidebar {
        width: 400px;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
        overflow-y: auto;
        &.hide {
            transform: translateX(100%);
            width: 0;
            overflow: hidden;
            visibility: hidden;
        }

        &.show {
            transform: translateX(0);
            width: 400px;
            margin-left: 20px;      
        }
    }    
    .text-bg-primary{
        background-color: #DB91D1 !important;
    }
    .badge{
        background-color: #DB91D1 !important;
    }
}

.sidebar-card{
    border: 1px solid #7474746e;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: left;
}


.card-schooling-preview {
  border-radius: 0.5rem;
}



.schooling-selected h6 {
    color: #DB91D1 !important; // ensures nested text also changes
}
