.schooling-progress-bar {
  .sidebar-container {
    position: relative;
  }

  .sidebar {
    width: 0;
    height: 90vh;
    overflow-x: hidden;
    position: static;
    top: 0;
    left: 0;
  }

  .sidebar.open {
    width: 100%;
  }

  .sidebar.closed {
    width: 100%;
  }

  .sidebar-button {
    position: absolute;
    top: 0px;
    transition: left 0.2s ease;
    z-index: 1001;
    background-color: transparent !important;
    border: none !important;
  }
  .sidebar-button:hover > i {
    background-color: transparent;
    color: #DB91D1;
  }
  .sidebar-button.closed {
    left: 5.5%;
    top: -5px;
    rotate: 180deg;
  }

  .sidebar-button.open {
    left: 13.5%;
    top: -5px;
  }

  .acc-button {
    background-color: transparent !important;
    border: none !important;
    font-size: 23px;
  }
  .acc-button:hover > i {
    background-color: transparent;
    color: #DB91D1;
  }
  .acc-button.open {
    rotate: 0deg;
  }
  .acc-button.closed {
    rotate: 180deg;
  }
  .img-container {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .schooling-ProgressBar-el {
    width: 100%;
    line-height: 1.1;
  }

  .schooling-ProgressBar-el span,
  .schooling-ProgressBar-el p {
    font-size: 12px;
    font-weight: 400;
  }
  .schooling-ProgressBar-el .vr {
    width: 2px;
  }
  .sidebar-navlink {
    padding: 10px 20px;
    white-space: nowrap;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  .sidebar-navlink span {
    color: #DB91D1;
  }

  .nav-link:hover .schooling-dot {
    color: #DB91D1;
    transition: 0.3 ease;
  }

    .nav-link .schooling-dot {

    transition: 0.3 ease;
  }

  .sidebar-navlink:hover i {
    color: #DB91D1 !important;
  }
  .sidebar-navlink:focus span {
    color: #DB91D1;
  }

  .schooling-ProgressBar-vl {
    height: calc(150%);
    top: 100%;
    color: #7f7f7f;
    width: 2px;
  }

  .schooling-ProgressBar-vl.text-success {
    opacity: 0.9;
  }
  .schooling-ProgressBar-img.border-success {
    opacity: 1;
  }
  .is-Choosen {
    color: #DB91D1 !important;
  }

  @media (max-width: 1250px) {
    .img-container {
      min-width: 64px;
      min-height: 64px;
      max-width: 64px;
      max-height: 64px;
    }
    .schooling-ProgressBar-el span,
    .schooling-ProgressBar-el p {
      font-size: 16px;
      font-weight: 400;
    }
    .schooling-ProgressBar-vl {
      height: calc(150%);
    }
  }
}
.progress-bar-vertical {
  position: relative;
  padding-left: 20px;
  .nav-link-schooling {
    position: relative;
    padding: 1rem 0;
    &.active {
      .schooling-dot {
        color: #DB91D1 !important;
        font-weight: 500;
      }
      span {
        color: #DB91D1;
        font-weight: 500;
      }
    }
  }
}

.schooling-dot{
      color: #7f7f7f;
}
.nav-link-schooling{
  font-size: 1.2rem !important;
  text-align: left;
}