.sidebar-container {
  position: relative;
}

.sidebar {
  width: 0;
  height: 90vh;
  overflow-x: hidden;
  position: static;
  top: 0;
  left: 0;
}

.sidebar.open {
  width: 200px;
}

.sidebar.closed {
  width: 65px;
}

.nav-link {
  padding: 10px 20px;
  white-space: nowrap;
}

.sidebar-button {
  position: absolute;
  top: 0px;
  transition: left 0.3s ease;
  z-index: 1001;
  background-color: transparent !important;
  border: none !important;  ;
}
.sidebar-button:hover > i{
  background-color: transparent;
  color: rgba(var(--bs-primary))
}
.sidebar-button.closed {
  left: 70px; 
  top: 10px;
  rotate: 180deg;
}

.sidebar-button.open {
  left: 200px;
  top: 10px;
}

.acc-button{
  background-color: transparent !important;
  border: none !important;
  font-size: 23px;
}
.acc-button:hover > i{
  background-color: transparent;
  color: rgba(var(--bs-primary))
}
.acc-button.open {
  rotate: 0deg;
}
.acc-button.closed {
  rotate: 180deg;
}
.img-container{
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}
.img-container img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}
.schooling-ProgressBar-el{
  width: 100%;
  line-height: 1.1;
}

.schooling-ProgressBar-el span,.schooling-ProgressBar-el p{
  font-size: 11px;
  font-weight: 400;
}
.sidebar-navlink{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.sidebar-navlink span{
  color: rgba(var(--bs-secondary-rgb));
}
.sidebar-navlink:hover span{
  color: rgba(var(--bs-primary));
}
.sidebar-navlink:focus span{
  color: rgba(var(--bs-primary));
}

.schooling-ProgressBar-vl{
  height: calc(200%);
  top: 100%;
  color: #7f7f7f;;
  width: 2px;
}

.schooling-ProgressBar-vl.text-success{     
  opacity: 0.9;
}
.schooling-ProgressBar-img.border-success{
  opacity: 1;
}
.is-Choosen{
  color: rgba(var(--bs-primary)) !important;
}

@media (max-width: 1050px) {
  .img-container {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
  }
  .schooling-ProgressBar-el span,.schooling-ProgressBar-el p{
    font-size: 16px;
    font-weight: 400;
  }
  .schooling-ProgressBar-vl{
    height: calc(150%);
  }
}