.welcome{
    margin: 20px;
}
.login-container{
    max-width: 500px;
    width: 400px;
    margin: 20px;
}

.subtitle{
    font-size: 24px;
}
.nav-language-dropdown-login{
    position: absolute;
    right: 0;
    padding: 1rem;
}