.theme-btn{
    background-color: transparent !important;
    border: 0px !important;


}

.theme-btn > i{
    color: #5CD3B4;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

/* Colors:
pink
#DB91D1
green
#5CD3B4
yellow
#F2E267
*/