html {
    font-size: 87.5%;
}

 :root {
  text-align: center;
}
.downloadIcon {
  color: #00fbff
}
.downloadIcon:hover {
  color: #73ff00;
}
.deleteIcon:hover {
  color: #73ff00;
}
.deleteIcon {
  color: #ff0000;
}
.to-do-status{
    background-color: #db91d1f3 !important; /* Your original teal */
}

.in-progress-status{
    background-color: #fd22e0e0 !important; /* Deeper teal */
}

.review-status{
    background-color: #740d66fa  !important; /* Lighter teal */
}

.reopened-status{
    background-color: #837a37f6 !important; /* Dark teal */
}

.done-status{
    background-color: #5cd3b3ef !important; /* Pale teal */
}
